.bg-dark-second {
    background-color: #1B1F22;
}

.bg-dark-trip {
    background-color: #131B16;
}

.bg-gray {
    background-color: #111928;
}

.bg-discrete {
    background-color: rgba(255,255,255,0.1);
    margin: 2px 5px;
}

img#back-button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}